
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map1 {
    width: 90%;
    height: 100%;

}
#map2 {
    width: 90%;
    height: 100%;
}
.maps{
    width: 60%;
    height: 90%;
    float: left;
    margin-top: 50px;
}
div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
}

.table-title h3 {
     color: #fafafa;
     font-size: 30px;
     font-weight: 400;
     font-style:normal;
     font-family: "Roboto", helvetica, arial, sans-serif;
     text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
     text-transform:uppercase;
}

.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color:#D5DDE5;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}

tr:nth-child(odd):hover td {
    background:#4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}
.charts{
    width: 40%;
    float: left;
    margin-top: 50px;
}
.controls{
    float: left;
    width: 10%;
}

.map_box{
    height: 50%;
    margin-top: 10px;
}
.c_button{
    font-size: 12px;
    height: 30px;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(189, 189, 189);
    border: 1px solid;
    margin-bottom: 2px;
    cursor: pointer;
    box-sizing: revert;
    -webkit-box-sizing: content-box;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis g{
    font-size: 12px;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 50px;
  pointer-events: none;
  background-color: #d7ef25;
  border: 1px solid;
  padding: 3px;
  text-align: center;
}

.xs_scenario .map_box{
    height: 90% !important;
}
.xs_scenario .maps{
    //width:100% !important;
    height: 100% !important;
}
.xs_scenario #map1{
    //width:100% !important;
}

.xs_scenario .tooltip {
  width: 80px;
}

.box1_container{
    width: 40%;
    float: left;
}
.box1_container .charts{
    width:100% !important;
}
.table_container{
    margin-left: 200px;
    width: 300px;
    height: 300px;
    float: left;
    overflow-y: scroll;
}