<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>About Us</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static 'web/css/custom.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/web/">
                	<span class="glyphicon glyphicon-fire"></span>
                	Team 11
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/web/">Scenarios</a>
                    </li>
                    <li>
                        <a href="/web/about">About Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	<footer>
		<div class="footer-blurb">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 footer-blurb-item">
						<img class="img-circle" src="{% static 'web/img/janice.JPG' %}" alt="" width="100" height="100">
						<h3>Janice Zhan</h3>
						<p>Janice loves long walks on the beach</p>
						<p><span style="font-style:italic;">
                            <a href="mailto:szhan1@student.unimelb.edu.au">szhan1@student.unimelb.edu.au</a>
                        </span><br/>669677</p>
						<p><a class="btn btn-primary" href="#">Like!</a></p>
					</div>
					<div class="col-sm-4 footer-blurb-item">
						<img class="img-circle" src="{% static 'web/img/alex.JPG' %}" alt="" width="100" height="100">
						<h3>Alex Zhang</h3>
						<p>Alex wants to change the world one assignment at a time</p>
						<p><span style="font-style:italic;">
                            <a href="mailto:azhang@student.unimelb.edu.au">azhang@student.unimelb.edu.au</a>
                        </span><br/>674784</p>
						<p><a class="btn btn-primary" href="#">Like!</a></p>
					</div>
					<div class="col-sm-4 footer-blurb-item">
						<img class="img-circle" src="{% static 'web/img/cari.JPG' %}" alt="" width="100" height="100">
						<h3>Carina Guanoluisa</h3>
						<p>Cari was once engaged to George Clooney</p>
						<p><span style="font-style:italic;">
                            <a href="mailto:cguanoluisa@student.unimelb.edu.au">cguanoluisa@student.unimelb.edu.au</a>
                        </span><br/>706432</p>
						<p><a class="btn btn-primary" href="#">Like!</a></p>
					</div>
					<div class="col-sm-4 footer-blurb-item">
						<img class="img-circle" src="{% static 'web/img/tri.JPG' %}" alt="" width="100" height="100">
						<h3>Tri Chandra</h3>
						<p>Tri believes he is in The Matrix</p>
						<p><span style="font-style:italic;">
                            <a href="mailto:tchandra@student.unimelb.edu.au">tchandra@student.unimelb.edu.au</a>
                        </span><br/>710358</p>
						<p><a class="btn btn-primary" href="#">Like!</a></p>
					</div>
					<div class="col-sm-4 footer-blurb-item">
						<img class="img-circle" src="{% static 'web/img/david.JPG' %}" alt="" width="100" height="100">
						<h3>David Amores</h3>
						<p>David just wants to go sleep</p>
						<p><span style="font-style:italic;">
                            <a href="mailto:damores@student.unimelb.edu.au">damores@student.unimelb.edu.au</a>
                        </span><br/>684553</p>
						<p><a class="btn btn-primary" href="#">Like!</a></p>
					</div>

				</div>
				<!-- /.row -->
			</div>
        </div>
	</footer>


    <!-- jQuery -->
    <script src="{% static 'web/js/jquery-1.11.3.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'web/js/bootstrap.min.js' %}"></script>

</body>

</html>
