<!DOCTYPE html>
<html>
  <head>
   {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Data Analysis</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static 'web/css/custom.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/web/">
                	<span class="glyphicon glyphicon-fire"></span>
                	Team 11
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/web/">Scenarios</a>
                    </li>
                    <li>
                        <a href="/web/about">About Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <link rel="stylesheet" type="text/css" href="{% static 'web/styles.css' %}" />
    <script type="text/javascript" src="{% static 'web/jquery-2.2.3.min.js' %}"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <div id="plot" class="charts"></div>
    <div class="maps">
        <div class="map_box">
            <div class="controls">
                <div class="c_button" id="bikes" onclick="chooseTop(this)" data-value="Bicycle Rails">Bikes</div>
                <div class="c_button" id="fountains" onclick="chooseTop(this)" data-value="Drinking Fountain">Fountains</div>
            </div>
            <div id="map1"></div>
        </div>
        <div class="map_box">
            <div class="controls">
                <div class="c_button" id="fitness_count" onclick="chooseBottom(this)" data-value="fitness_count">Fitness</div>
                <div class="c_button" id="positive" onclick="chooseBottom(this)" data-value="positive">Positive</div>
                <div class="c_button" id="negative" onclick="chooseBottom(this)" data-value="negative">Negative</div>
            </div>
            <div id="map2"></div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'web/plot.js' %}"></script>
    <script>
      var map;
      var postcode_info = {{ info.postcode_info|safe }};

      var aPostcodeInfo = [];

      for(var ind in postcode_info){
        var temp = {};
        for(var k in postcode_info[ind])
            temp[k] = postcode_info[ind][k];
        temp['postcode'] = ind;
        aPostcodeInfo.push(temp);
      }

      function initMap1() {
             console.log("aaaa");
        map = new google.maps.Map(document.getElementById('map1'), {
          center: {lat: -37.8141, lng: 144.9633},
          zoom: 12
        });

        map.data.loadGeoJson("{% static 'web/postcode_polygons.json' %}");
             console.log("bbbb");

      }


        function loadMapStyles(vn){
             var colors;
             var val_range;
             var av_t;

              if(vn.localeCompare('Bicycle Rails') == 0){
                colors = ["#B3C6F4", "#7990D4", "#3F5BB4", "#052694"]; // blue scale
                val_range = [100, 300, 600];
                av_t = 'Bicycle Rails';
              }
              else if(vn.localeCompare('Drinking Fountain') == 0){
                colors = ["#F3F3C4", "#ECEC82", "#E5E641", "#DFE000"]; // gold scale
                val_range = [5, 20, 50];
                av_t = 'Drinking Fountain';
              }

             map.data.setStyle(function(feature) {

                var color = 'transparent';
                var stroke = 'transparent';
                var info = postcode_info[feature.getProperty("postcode")];
                if(info != undefined){
                    console.log(feature.getProperty("postcode"));
                    var av = info[av_t];
                    stroke = 'black';
                    if(av <= val_range[0]){
                        color = colors[0];
                    }
                    else if(av <= val_range[1]){
                        color = colors[1];
                    }
                    else if(av <= val_range[2]){
                        color = colors[2];
                    }
                    else{
                        color = colors[3];
                    }
                }

                return /** @type {google.maps.Data.StyleOptions} */({
                  fillColor: color,
                  strokeColor: stroke,
                  strokeWeight: 1,
                  fillOpacity: 0.8
                });

              });
        }

    </script>
    <script>
      var map2;

      function initMap2() {
        map2 = new google.maps.Map(document.getElementById('map2'), {
          center: {lat: -37.8141, lng: 144.9633},
          zoom: 12
        });
        map2.data.loadGeoJson("{% static 'web/postcode_polygons.json' %}");
      }

      function loadMapStyles2(vn){
             var colors;
             var val_range;
             var av_t;

              if(vn.localeCompare('fitness_count') == 0){
                colors = ["#B3C6F4", "#7990D4", "#3F5BB4", "#052694"]; // blue scale
                val_range = [100, 200, 400];
                av_t = 'fitness_count';
              }
              else if(vn.localeCompare('positive') == 0){
                colors = ["#F3C4C4", "#EC8285", "#E64147", "#E00009"]; // red scale
                val_range = [90, 92, 95];
                av_t = 'positive';
              }
              else if(vn.localeCompare('negative') == 0){
                colors = ["#B3C6F4", "#7990D4", "#3F5BB4", "#052694"]; // blue scale
                val_range = [6, 8, 10];
                av_t = 'negative';
              }

             map2.data.setStyle(function(feature) {

                var color = 'transparent';
                var stroke = 'transparent';
                var info = postcode_info[feature.getProperty("postcode")];
                if(info != undefined && info[av_t] != undefined){
                    var av = info[av_t];
                    console.log(av);
                    stroke = 'black';
                    if(av <= val_range[0]){
                        color = colors[0];
                    }
                    else if(av <= val_range[1]){
                        color = colors[1];
                    }
                    else if(av <= val_range[2]){
                        color = colors[2];
                    }
                    else{
                        color = colors[3];
                    }
                }

                return /** @type {google.maps.Data.StyleOptions} */({
                  fillColor: color,
                  strokeColor: stroke,
                  strokeWeight: 1,
                  fillOpacity: 0.8
                });

              });
      }
    </script>
    <script>

      function initMap(){
        initMap1();
        initMap2();
        $("#bikes").click();
        $("#positive").click();
      }

      var chosenX = "Bicycle Rails";
      var chosenY = "positive";

      function chooseTop(elem){
        $("#bikes").css("background-color", "rgb(189, 189, 189)");
        $("#fountains").css("background-color", "rgb(189, 189, 189)");
        $(elem).css("background-color", "gray");

        loadMapStyles($(elem).data("value"));
        chosenX = $(elem).data("value");
        $("#plot").empty();
        loadCharts($(elem).data("value"), chosenY);
      }

      function chooseBottom(elem){
        $("#fitness_count").css("background-color", "rgb(189, 189, 189)");
        $("#positive").css("background-color", "rgb(189, 189, 189)");
        $("#negative").css("background-color", "rgb(189, 189, 189)");
        $(elem).css("background-color", "gray");

        loadMapStyles2($(elem).data("value"));
        chosenY = $(elem).data("value");
        $("#plot").empty();
        loadCharts(chosenX, $(elem).data("value"));
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBArBdhuQgtpWeaEgCU8DXu1Tx6oyryQGM&callback=initMap"
    async defer></script>

  </body>

</html>