<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Data Analysis</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static 'web/css/custom.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/web/">
                	<span class="glyphicon glyphicon-fire"></span>
                	Team 11
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/web/">Scenarios</a>
                    </li>
                    <li>
                        <a href="/web/about">About Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Content -->
    <div class="container">

        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Data Analysis
                    <small>Our Scenarios</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="/web/gs_scenario">
                    <img class="img-responsive" src="{% static 'web/img/outdoor.JPG' %}" alt="" height="300">
                </a>
                <h3>
                    <a href="/web/gs_scenario">Where do people exercise?</a>
                </h3>
                <p>We find the suburbs where people exercise the most and find correlations between the City of Melbourne
                    Outdoor Furniture assets and the amount of exercise people do.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="/web/fs_scenario">
                    <img class="img-responsive" src="{% static 'web/img/family.jpg' %}" alt="" height="300">
                </a>
                <h3>
                    <a href="/web/fs_scenario">Happy families</a>
                </h3>
                <p>We analyse how Melbournian's family composition affect their happiness.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="/web/ps_scenario">
                    <img class="img-responsive" src="{% static 'web/img/mental.jpg' %}" alt="">
                </a>
                <h3>
                    <a href="/web/ps_scenario">Psychological distress</a>
                </h3>
                <p>Mental health awareness is growing among Australians. In this scenario we show the amount of people
                suffering from psychological distress and the way they feel.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="/web/xs_scenario">
                    <img class="img-responsive" src="{% static 'web/img/party.jpg' %}" alt="">
                </a>
                <h3>
                    <a href="/web/xs_scenario">Sentiment moving patterns</a>
                </h3>
                <p>By inspecting people's moving patterns accross Melbourne, we identified their sentiment.</p>
            </div>
        </div>

    </div>
    <!-- /.container -->


    <!-- jQuery -->
    <script src="{% static 'web/js/jquery-1.11.3.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'web/js/bootstrap.min.js' %}"></script>

</body>

</html>
