<div class="table_container news_container">
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>Person</th>
        </tr>

        {% for p in list %}
        <tr>
            <td>{{ p.text }}</td>
        </tr>
        {% endfor %}
    </table>
</div>