<!DOCTYPE html>
<html>
  <head>
   {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Data Analysis</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static 'web/css/custom.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="xs_scenario">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/web/">
                	<span class="glyphicon glyphicon-fire"></span>
                	Team 11
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/web/">Scenarios</a>
                    </li>
                    <li>
                        <a href="/web/about">About Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <link rel="stylesheet" type="text/css" href="{% static 'web/styles.css' %}" />
    <script type="text/javascript" src="{% static 'web/jquery-2.2.3.min.js' %}"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <div class="box1_container">
        <div id="plot" class="charts"></div>
        <div class="table_container">
            <table class="table condensed-table" id="word_table">
              <tr>
                <th>Word</th>
                <th>Count</th>
              </tr>
            </table>
        </div>
    </div>
    <div class="maps">
        <div class="map_box">
            <div class="controls">
                <div class="c_button" id="pos" onclick="chooseTop(this)" data-value="pos">Positive</div>
                <div class="c_button" id="neg" onclick="chooseTop(this)" data-value="neg">Negative</div>
                <div class="c_button disabled" onclick="show_all()">Show all</div>
            </div>
            <div id="map1"></div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'web/plot.js' %}"></script>
    <script>
      var map;
      var postcode_info = {{ info.data|safe }};
        console.dir(postcode_info);
      var aPostcodeInfo = [];
      var lines = [];
      var showingSingle = false;
      var gradient = ['#FFF93D', '#F6582C', '#ED1C89', '#A90DE4', '#0003DB'];
      var nouns = [];


      for(var ind in postcode_info){
        var temp = {};
        for(var k in postcode_info[ind])
            temp[k] = postcode_info[ind][k];
        temp['postcode'] = ind;
        aPostcodeInfo.push(temp);
      }

      function initMap1() {
             console.log("aaaa");
        map = new google.maps.Map(document.getElementById('map1'), {
          center: {lat: -37.8141, lng: 144.9633},
          zoom: 12
        });

        var j = 0;
        var n = 0;
        for( var k in postcode_info){
            j %= 5;
            var totalDist = 0;
            var coords = postcode_info[k].coords;
            var flightPlanCoordinates = [];
            for(var i = 0; i < coords.length; i++){
                flightPlanCoordinates.push({lat: coords[i][0], lng: coords[i][1]});
                if(i + 1 < coords.length)
                    totalDist += getDistance(coords[i][0], coords[i][1], coords[i + 1][0], coords[i + 1][1]);
            }
            var infoInPoint = [];
            var distSoFar = 0;
            for(var i = 0; i < coords.length; i++){
                infoInPoint[Math.round((distSoFar / totalDist) * 1000)] = postcode_info[k].coords[i];
                if(i + 1 < coords.length)
                    distSoFar += getDistance(coords[i][0], coords[i][1], coords[i + 1][0], coords[i + 1][1]);
            }


            var lineSymbol = {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 6,
                strokeColor: gradient[(j + 1) % 5]
              };
              var line = new google.maps.Polyline({
                path: flightPlanCoordinates,
                icons: [{
                  icon: lineSymbol,
                  offset: '100%'
                }],
                geodesic: true,
                strokeColor: gradient[j],
                //strokeColor: 'transparent',
                strokeOpacity: 1.0,
                strokeWeight: 0.3
              });
              j++;

              line.setMap(map);
              lines[k] = {"line": line, "infoInPoint": infoInPoint};
               animateCircle(line, k, infoInPoint);

              n++;

              window.setInterval(function() {
                generateTable();
              }, 2000);

         }

      }

      function getDistance(x1, y1, x2, y2){
        return Math.sqrt(Math.pow(x1 - x2, 2) + Math.pow(y1 - y2, 2));
      }

      function show_user(id){
        nouns = [];
        showingSingle = true;
        for(var k in lines){
            if(k != id){
                var l = lines[k]["line"];
                l.setOptions({strokeColor:'transparent'});
                var icons = l.get('icons');
                icons[0].icon.strokeColor = 'transparent';
                window.clearInterval(l["interval"]);
            }
            else{
                var l = lines[k]["line"];
                l.setOptions({strokeWeight:1.0});
                l.setOptions({strokeColor:gradient[0]});
                window.clearInterval(l["interval"]);
                animateCircle(l, k, lines[k]["infoInPoint"]);
            }
        }
      }

      function show_all(){
        nouns = [];
        showingSingle = false;
        var j = 0;
        for(var k in lines){
            var l = lines[k]["line"];
            l.setOptions({strokeColor:gradient[j]});
            window.clearInterval(l["interval"]);
            animateCircle(l, k, lines[k]["infoInPoint"]);
            j = (j + 1) % 5;
        }
      }

      function getSorted(obj) {
            var keys = []; for(var key in obj) keys.push([key, obj[key]]);
            return keys.sort(function(a,b){return b[1] - a[1]});
        }

      function generateTable(){
        $("#word_table").empty();
        var tableConts = "<tr><th>Word</th><th>Count</th></tr>";
        s_nouns = getSorted(nouns);
        var i = 0;
        for(var j = 0; j < s_nouns.length; j++){
            tableConts += "<tr><td>" + s_nouns[j][0] + "</td><td>" + s_nouns[j][1] + "</td></tr>";
            i++;
            if(i == 20)
                break;
        }
        $("#word_table").append(tableConts);
      }

      function animateCircle(line, k, infoInPoint) {
            var count = 0;
            var interval = window.setInterval(function() {

              var pieces = 1000;

              count = (count + 1) % pieces;

              var icons = line.get('icons');
              icons[0].offset = (count / (pieces/100)) + '%';
              if(infoInPoint[count - 1] != undefined){
                var content = "";
                for(var j = 0; j < infoInPoint[count - 1][3].length; j++){
                    content += infoInPoint[count - 1][3][j] + "<br />";
                    if(nouns[infoInPoint[count - 1][3][j]] == undefined)
                        nouns[infoInPoint[count - 1][3][j]] = 0;
                    nouns[infoInPoint[count - 1][3][j]]++;
                }
                if(showingSingle){
                    var infowindow = new google.maps.InfoWindow({
                        content: content,
                        position: new google.maps.LatLng(infoInPoint[count - 1][0], infoInPoint[count - 1][1]),
                        disableAutoPan: true
                      });
                      infowindow.open(map);
                      window.setTimeout(function() { infowindow.close();}, 3000);
                }
                if (infoInPoint[count - 1][2] === "pos"){
                    icons[0].icon.strokeColor = '#0003DB';
                }
                else{
                    icons[0].icon.strokeColor = '#d62728';
                }
              }
              line.set('icons', icons);
          }, 300);

          lines[k]["line"]["interval"] = interval;
        }


        function loadMapStyles(vn){
             var colors;
             var val_range;
             var av_t;

              if(vn.localeCompare('Bicycle Rails') == 0){
                colors = ["#B3C6F4", "#7990D4", "#3F5BB4", "#052694"]; // blue scale
                val_range = [100, 300, 600];
                av_t = 'Bicycle Rails';
              }
              else if(vn.localeCompare('Drinking Fountain') == 0){
                colors = ["#F3F3C4", "#ECEC82", "#E5E641", "#DFE000"]; // gold scale
                val_range = [5, 20, 50];
                av_t = 'Drinking Fountain';
              }

             map.data.setStyle(function(feature) {

                var color = 'transparent';
                var stroke = 'transparent';
                var info = postcode_info[feature.getProperty("postcode")];
                if(info != undefined){
                    console.log(feature.getProperty("postcode"));
                    var av = info[av_t];
                    stroke = 'black';
                    if(av <= val_range[0]){
                        color = colors[0];
                    }
                    else if(av <= val_range[1]){
                        color = colors[1];
                    }
                    else if(av <= val_range[2]){
                        color = colors[2];
                    }
                    else{
                        color = colors[3];
                    }
                }

                return /** @type {google.maps.Data.StyleOptions} */({
                  fillColor: color,
                  strokeColor: stroke,
                  strokeWeight: 1,
                  fillOpacity: 0.8
                });

              });
        }

    </script>
    <script>

      function initMap(){
        initMap1();
        $("#pos").click();
      }

      var chosenX = "len";
      var chosenY = "pos";

      function chooseTop(elem){
        $("#pos").css("background-color", "rgb(189, 189, 189)");
        $("#neg").css("background-color", "rgb(189, 189, 189)");
        $(elem).css("background-color", "gray");

        //loadMapStyles($(elem).data("value"));
        chosenY = $(elem).data("value");
        $("#plot").empty();
        loadCharts(chosenX, $(elem).data("value"));
      }

      function chooseBottom(elem){
        $("#fitness").css("background-color", "rgb(189, 189, 189)");
        $("#positive").css("background-color", "rgb(189, 189, 189)");
        $("#negative").css("background-color", "rgb(189, 189, 189)");
        $(elem).css("background-color", "gray");

        loadMapStyles2($(elem).data("value"));
        chosenY = $(elem).data("value");
        $("#plot").empty();
        loadCharts(chosenX, $(elem).data("value"));
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBArBdhuQgtpWeaEgCU8DXu1Tx6oyryQGM&callback=initMap"
    async defer></script>

  </body>

</html>